<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org/">
    <head th:replace = "fragments::head">
    </head>
    <header th:replace="fragments::navbar"></header>

    <div id="inner"></div>
    <body>
    <div th:replace="fragments::sidenav" id="mySidenav" class="sidenav"></div>
    <div class="body-content">
    <h1>Login</h1>

    <form method="post">
    <div class ="form-group">
        <label>Username
            <input class="form-control" th:field="${loginDTO.username}"/>
        </label>
        <p class= "error" th:errors= "${loginDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class= "form-control" th:field="${loginDTO.password}" type="password" name="password"/>
        </label>
        <p class= "error" th:errors= "${loginDTO.password}"></p>
    </div>
    <button type="submit" value="Submit">Submit</button>
    </form>
    </div>
    </body>
</div>
</html>